.spaced-button {
  margin-bottom: 1em;
  padding: 1em 0;
}

#buttons {
  margin-top: 3em;
  margin-bottom: 3em;
}

.hotkey-badge {
  float: left;
}

.play-btn-group {
  width: 100%;
}

.play-button {
  width: 85%;
}

.file-stop-btn {
  width: 15%;
}

#tabs {
  padding: 0;
}
